html {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.wrapper {
    margin: 0 auto;
    width: 500px;
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

.grid>.column:first-child {
    margin-left: 0;
}

.grid>.column:last-child {
    margin-right: 0;
}

.grid-wrapper {
    transform: translate(2%, 19%);
}


.column {
    text-align: center;
    float: left;
    width: 30.65%;
    height: 152px;
    margin: 5px;
    border-radius: 30px;
    background: rgb(24, 2, 12);
}

.column:hover {
    background: #4B0625;
}

.fa {
    line-height: 152px;
}

.fa-times {
    color: #e5ffde;
    font-size: 150px;
}

.fa-circle-o {
    color: #e5ffde;
    font-size: 125px;
}

i.fa.fa-circle-o {
    line-height: 185px;
}
 
.intro {
    margin: 0 auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 500px;
    height: 100%;
    outline: none;
    z-index: 1;
    text-align: center;
    background: rgba(24, 2, 12, 0.9);
}

.display-winner, 
.btn {
    margin: 0 auto;
    position: relative;
    font-weight: 700;
    color: #e5ffde;
    text-transform: uppercase;
}

.title {
    text-align: center;
}

.display-winner {
	top: 40%;
	left: 0;
	right: 0;
}

.btn {
    width: 115px;
    top: 45%;
    padding: 0.75em;
    font-size: 1em;
    border: 1px solid #e5ffde;
    background: transparent;
    cursor: default;
}

.btn:hover {
	background: #e5ffde;
	color: rgb(24, 2, 12);
}

.btn:focus {
	outline: none;
}

.option {
	top: 40%;
	margin-bottom: 1.75em;
}

@media only screen and (min-width: 40.063em) {
	.wrapper {
		width: 600px;
	}
	.column {
		width: 31.1%;
		height: 186px;
	}
	.fa {
		line-height: 186px;
	}
	.fa-times {
		font-size: 180px;
	}
	.fa-circle-o {
		font-size: 155px;
	}
}