.wrapper {
    margin: 0 auto;
    width: 500px;    
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

.grid > .col:first-child {
    margin-left: 0;
}

.grid > .col:last-child {
	margin-right: 0;
}

.col {
 text-align: center;
 float: left;
 width: 30.65%;
 height: 152px;
 margin: 5px;
 border-radius: 30px;
 background: #e0e0e0;
}

.col:hover {
	background: #EEE;
}

.fa {
	line-height: 152px;
}

.fa-times {
	color: #80D8FF;
	font-size: 150px;
}
.fa-circle-o {
	color: #FF80AB;
	font-size: 125px;
}